body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

#region-display, #champion-display {
    margin: 20px;
    font-size: 24px;
}
